.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
.nav-item{
    margin-right:1rem;
}
.sizeForm{
    margin-top: 6rem;
}
.dealSize{
    width: 4rem;
}
.sizeForm input{
    margin-top: 1rem;
    margin-right: 1rem;
}
.Card{
    width: 200px;
    height: 300px;
    padding: 1rem 1rem;
}
.row{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
